log
tmp
*.tmp
*.tmp.*
*::*
*-expect
*-out
[1-9]
/Test/t/Reload
/PetShop/files/petshop/ddl/bOP-*.sql
/PetShop/files/petshop/plain/f/css/cache-tag-unit-test.css
/PetShop/files/m.petshop
/UI/t/src
/Util/t/NamedConf/c?
/IO/t/File
/IO/t/Log
/IO/t/file.txt
/PetShop/files/beforeother
/PetShop/files/db
/PetShop/files/httpd
/PetShop/files/other
/PetShop/files/petshop/plain/b
/PetShop/files/petshop/realm-data
/PetShop/files/requiresecure
/Util/t/Backup2
/Util/t/HTTPConf/ping.txt
/files

